<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.admin.firstedu.grade.model.dao.GradeMapper">

	<resultMap id="examResultMap" type="ExamDTO">
		<id column="EXAM_NO" property="no"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="EXAM_NAME" property="name"/>
		<result column="EXAM_DATE" property="examDate"/>
		<result column="SCHOOL" property="school"/>
		<result column="GRADE" property="grade"/>
		<result column="SUBJECT_NO" property="subjectNo"/>
	</resultMap>
	
	<resultMap id="examCategoryResultMap" type="ExamCategoryDTO">
		<id column="CATEGORY_NO" property="no"/>
		<result column="EXAM_NAME" property="name"/>
		<result column="REF_CATEGORY_NO" property="refCategoryNo"/>
	</resultMap>
	
	<resultMap id="subjectCategoryResultMap" type="SubjectCategoryDTO">
		<id column="CATEGORY_NO" property="no"/>
		<result column="SUBJECT_NAME" property="name"/>
	</resultMap>
	
	<resultMap id="examFullInfoResultMap" type="ExamFullInfoDTO">
		<id column="EXAM_NO" property="no"/>
		<result column="EXAM_NAME" property="name"/>
		<result column="EXAM_DATE" property="examDate"/>
		<result column="SCHOOL" property="school"/>
		<result column="GRADE" property="grade"/>
		<association resultMap="examCategoryResultMap" property="category"/>
		<association resultMap="subjectCategoryResultMap" property="subject"/>
 	</resultMap>

	<insert id="insertExam" parameterType="ExamDTO">
		INSERT
		  INTO TBL_EXAM A
		(
		  A.EXAM_NO
		, A.CATEGORY_NO
		, A.EXAM_NAME
		, A.EXAM_DATE
		, A.SCHOOL
		, A.GRADE
		, A.SUBJECT_NO
		)
		VALUES
		(
		  SEQ_EXAM_NO.NEXTVAL
		, #{ categoryNo }
		, #{ name }
		, #{ examDate }
		, #{ school }
		, #{ grade }
		, #{ subjectNo }
		)
	</insert>

	<select id="selectExamList" parameterType="ExamSearchCriteriaDTO" resultMap="examFullInfoResultMap">
		SELECT
			   A.EXAM_NO
			 , A.EXAM_NAME
			 , A.EXAM_DATE
			 , A.SCHOOL
			 , A.GRADE
			 , B.EXAM_NAME
			 , B.REF_CATEGORY_NO
			 , C.SUBJECT_NAME			 
	      FROM TBL_EXAM A
	      JOIN TBL_EXAM_CATEGORY B ON (A.CATEGORY_NO = B.CATEGORY_NO)
	      JOIN TBL_SUBJECT_CATEGORY C ON (A.SUBJECT_NO = C.CATEGORY_NO)
	      <where>
	      	<if test="refCategory != 0">
	      		B.REF_CATEGORY_NO = #{ refCategory }
	      	</if>
	      	<if test="name != null">
	      		AND A.EXAM_NAME LIKE '%' || #{ name } || '%'
	      	</if>
	      	<if test="beginDate != null">
	      		AND A.EXAM_DATE >= #{ beginDate }
	      	</if>
	      	<if test="endDate != null">
	      		AND #{ endDate } >= A.EXAM_DATE
	      	</if>
	      	<if test="grade != 0">
	      		AND A.GRADE = #{ grade }
	      	</if>
	      	<if test="subject != 0">
	      		AND C.CATEGORY_NO = #{ subject }
	      	</if>
	      </where>
	</select>
	
</mapper>