<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.admin.firstedu.grade.model.dao.ScoreMapper">

	<!-- 성적 테이블 DTO -->
	<resultMap id="scoreResultMap" type="ScoreDTO">
		<id column="SCORE_NO" property="no"/>
		<result column="STUDENT_NO" property="studentNo"/>
		<result column="EXAM_NO" property="examNo"/>
		<result column="SUBJECT_NO" property="subjectNo"/>
		<result column="SUBJECT_DETAIL" property="subjectDetail"/>
		<result column="TARGET_SCORE" property="targetScore"/>
		<result column="SCORE" property="score"/>
		<result column="SCORE_GRADE" property="scoreGrade"/>
		<result column="CLASS_RANK" property="classRank"/>
		<result column="CLASS_PERSONNEL" property="classPersonnel"/>
		<result column="OVERALL_RANK" property="overallRank"/>
		<result column="TOTAL_PERSONNEL" property="totalPersonnel"/>
		<result column="TEACHER_COMMENT" property="teacherComment"/>
	</resultMap>
	
	<!-- 학생 테이블 DTO -->
     <resultMap type="StudentDTO" id="studentResultMap">
        <id property="no" column="STUDENT_NO"/>
        <result property="grade" column="GRADE"/>
        <result property="studentName" column="STUDENT_NAME"/>
        <result property="parentsName" column="PARENTS_NAME"/>
        <result property="studentPhone" column="STUDENT_PHONE"/>
        <result property="parentsPhone" column="PARENTS_PHONE"/>
        <result property="gender" column="GENDER"/>
        <result property="birth" column="BIRTH"/>
        <result property="school" column="SCHOOL"/>
        <result property="address" column="ADDRESS"/>
        <result property="registrationDate" column="REGISTRATION_DATE"/>
        <result property="status" column="STATUS"/>
     </resultMap>


	<!-- 성적 조회 (검색 포함) -->
	<select id="selectScoreList" parameterType="ScoreSearchCriteria" resultMap="scoreResultMap">
		SELECT
		       A.SCORE_NO
		     , A.STUDENT_NO
		     , A.EXAM_NO
		     , A.SUBJECT_NO
		     , A.SUBJECT_DETAIL
		     , A.TARGET_SCORE
		     , A.SCORE
		     , A.CLASS_RANK
		     , A.CLASS_PERSONNEL
		     , A.OVERALL_RANK
		     , A.TOTAL_PERSONNEL
		     , A.TEACHER_COMMENT
		  FROM TBL_EXAM_SCORE A
		  JOIN TBL_EXAM B ON (A.EXAM_NO = B.EXAM_NO)
		 WHERE A.SCORE_STATUS = 'Y'
		 <if test="studentNo != 0">
		   AND A.STUDENT_NO = #{ studentNo }
		 </if>
		 <if test="classCode != null and classCode != ''">
		   AND B.CLASS_CODE = #{ classCode }
		 </if>
		   AND A.EXAM_NO IN
		   <foreach collection="examNoList" item="examNo" open="(" separator="," close=")">
		   	   #{ examNo }
		   </foreach>
		   AND A.SUBJECT_NO IN
		   <foreach collection="subjectNoList" item="subjectNo" open="(" separator="," close=")">
		   	   #{ subjectNo }
		   </foreach>
	</select>
	
	<!-- 성적 등록 -->
	<insert id="insertScore" parameterType="ScoreListDTO">
		INSERT
		  INTO TBL_EXAM_SCORE A
		(
		  A.SCORE_NO
		, A.STUDENT_NO
		, A.EXAM_NO
		, A.SUBJECT_NO
		, A.SUBJECT_DETAIL
		, A.TARGET_SCORE
		, A.SCORE
		, A.SCORE_GRADE
		, A.CLASS_RANK
		, A.CLASS_PERSONNEL
		, A.OVERALL_RANK
		, A.TOTAL_PERSONNEL
		, A.TEACHER_COMMENT
		)
		<foreach collection="scoreList" item="score" separator="UNION ALL">
		  SELECT GET_SCORE_NO
		       , #{ score.studentNo, jdbcType=INTEGER }
		       , #{ score.examNo, jdbcType=INTEGER }
		       , #{ score.subjectNo, jdbcType=INTEGER }
		       , #{ score.subjectDetail, jdbcType=VARCHAR }
		       , #{ score.targetScore, jdbcType=DOUBLE }
		       , #{ score.score, jdbcType=DOUBLE }
		       , #{ score.scoreGrade, jdbcType=INTEGER }
		       , #{ score.classRank, jdbcType=INTEGER }
		       , #{ score.classPersonnel, jdbcType=INTEGER }
		       , #{ score.overallRank, jdbcType=INTEGER }
		       , #{ score.totalPersonnel, jdbcType=INTEGER }
		       , #{ score.teacherComment, jdbcType=VARCHAR }
		    FROM DUAL
		</foreach>
		
		
	</insert>
	
	<!-- 성적 수정 -->
	<update id="updateScore" parameterType="ScoreDTO">

	</update>
	
	<!-- 성적 삭제 -->
	<update id="deleteScore" parameterType="_int">

	</update>
	
</mapper>