<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.admin.firstedu.pay.model.dao.PayMapper">
  	<resultMap type="PayDTO" id="payResultMap">
  		<id property="payNo" column="PAY_NO"/>
  		<result property="classNo" column="CLASS_NO"/>
  		<result property="studentNo" column="STUDENT_NO"/>
  		<result property="payYn" column="PAY_YN"/>
  		<result property="payOption" column="PAY_OPTION"/>
  		<result property="payMonth" column="PAY_MONTH"/>
  		<result property="discountNo" column="DISCOUNT_NO"/>
  		<result property="payment" column="PAYMENT"/>
  		<result property="payDate" column="PAY_DATE"/>
  		<result property="payStatus" column="PAY_STATUS"/>
  	</resultMap>
  	
  	<resultMap type="ClassInfoDTO" id="classInfoResultMap">
  		<id property="no" column="CLASS_NO"/>
  		<result property="beginDate" column="BEGIN_DATE"/>
  		<result property="endDate" column="END_DATE"/>
  		<result property="studentNo" column="STUDENT_NO"/>
  		<result property="subjectCode" column="SUBJECT_CODE"/>
  	</resultMap>
  	
  	<resultMap type="DiscountDTO" id="discountResultMap">
  		<id property="discountNo" column="DISCOUNT_NO"/>
  		<result property="discountRate" column="DISCOUNT_RATE"/>
  		<result property="discountReason" column="DISCOUNT_REASON"/>
  	</resultMap>
  	
  	<resultMap type="GradeDTO" id="gradeResultMap">
  		<id property="gradeCode" column="GRADE_CODE"/>
  		<result property="gradeName" column="GRADE_NAME"/>
  	</resultMap>
  	
  	<resultMap type="StudentDTO" id="studentResultMap">
  		<id property="no" column="STUDENT_NO"/>
  		<result property="grade" column="GRADE_CODE"/>
  		<result property="studentName" column="STUDENT_NAME"/>
  		<result property="parentsName" column="PARENTS_NAME"/>
  		<result property="studentPhone" column="STUDENT_PHONE"/>
  		<result property="parentsPhone" column="PARENTS_PHONE"/>
  		<result property="gender" column="GENDER"/>
  		<result property="birth" column="BIRTH"/>
  		<result property="school" column="SCHOOL"/>
  		<result property="address" column="ADDRESS"/>
  		<result property="registrationDate" column="REGISTRATION_DATE"/>
  		<result property="status" column="STATUS"/>
  	</resultMap>
  	
  	
  	<resultMap type="ClassDTO" id="classResultMap">
  		<id property="classCode" column="CLASS_CODE"/>
  		<result property="classRoom" column="CLASS_ROOM"/>
  		<result property="className" column="CLASS_NAME"/>
  		<result property="classDay" column="CLASS_DAY"/>
  		<result property="classTime" column="CLASS_TIME"/>
  		<result property="classBook" column="CLASS_BOOK"/>
  		<result property="classPariticipants" column="CLASS_PARTICIPANTS"/>
  		<result property="classPayment" column="CLASS_PAYMENT"/>
  		<result property="subjectNo" column="SUBJECT_NO"/>
  		<result property="teacherNo" column="TEACHER_NO"/>
  	</resultMap>
  	
  	<resultMap type="StudentAndClassInfoDTO" id="studentResultMap2">
  		<id property="no" column="STUDENT_NO"/>
  		<result property="studentName" column="STUDENT_NAME"/>
  		<result property="studentPhone" column="STUDENT_PHONE"/>
  		<result property="status" column="STATUS"/>
  		<collection property="classInfo" resultMap="classInfoResultMap"/>
  		<collection property="classDTO" resultMap="classResultMap"/>  		
  		<collection property="grade" resultMap="gradeResultMap"/>  		
  	</resultMap>
  	
  	<resultMap type="PayListDTO" id="payListResultMap">
  		<id property="payNo" column="PAY_NO"/>
  		<result property="payYn" column="PAY_YN"/>
  		<result property="payOption" column="PAY_OPTION"/>
  		<result property="payMonth" column="PAY_MONTH"/>
  		<result property="payDate" column="PAY_DATE"/>
  		<result property="payment" column="PAYMENT"/>
  		<result property="payStatus" column="PAY_STATUS"/>  		
  		<association property="classInfo" resultMap="classInfoResultMap"/>
  		<association property="classDTO" resultMap="classResultMap"/>
  		<association property="student" resultMap="studentResultMap"/>
  		<association property="discount" resultMap="discountResultMap"/>
  	</resultMap>
  	
  	<resultMap type="StudentAndClassDTO" id="studentAndClassResultMap">
  		<id property="no" column="STUDENT_NO"/>
  		<collection property="classDTO" resultMap="classResultMap"/>
  	</resultMap>
  	
  	<select id="selectPayList" parameterType="PayListDTO" resultMap="payListResultMap">
		SELECT /* com.admin.firstEdu.pay.controller.selectPayList*/
		       A.PAY_NO
		     , B.BEGIN_DATE
		     , C.STUDENT_NAME
		     , D.CLASS_NAME
		     , A.PAY_YN
		     , A.PAY_OPTION
		     , A.PAY_DATE
		     , D.CLASS_PAYMENT
		     , E.DISCOUNT_REASON
		     , A.PAYMENT
		  FROM TBL_PAY A
		  JOIN TBL_CLASS_INFO B ON (A.CLASS_NO = B.CLASS_NO)
		  JOIN TBL_STUDENT C ON (B.STUDENT_NO = C.STUDENT_NO)
		  JOIN TBL_CLASS D ON (B.SUBJECT_CODE = D.CLASS_CODE)
		  JOIN TBL_DISCOUNT E ON (A.DISCOUNT_NO = E.DISCOUNT_NO)
		 WHERE A.PAY_STATUS = 'Y'
		 ORDER BY A.PAY_NO DESC
  	</select>
  	
  	<select id="selectPayDetail" parameterType="_int" resultMap="payListResultMap">
  		SELECT /* com.admin.firstEdu.pay.controller.selectPayDetail*/
		       A.PAY_NO
		     , B.BEGIN_DATE
		     , C.STUDENT_NAME
		     , D.CLASS_NAME
		     , A.PAY_YN
		     , A.PAY_OPTION
		     , A.PAY_DATE
		     , D.CLASS_PAYMENT
		     , E.DISCOUNT_REASON
		     , A.PAYMENT
		  FROM TBL_PAY A
		  JOIN TBL_CLASS_INFO B ON (A.CLASS_NO = B.CLASS_NO)
		  JOIN TBL_STUDENT C ON (B.STUDENT_NO = C.STUDENT_NO)
		  JOIN TBL_CLASS D ON (B.SUBJECT_CODE = D.CLASS_CODE)
		  JOIN TBL_DISCOUNT E ON (A.DISCOUNT_NO = E.DISCOUNT_NO)
		 WHERE A.PAY_STATUS = 'Y'
		   AND A.PAY_NO = #{no}
		 ORDER BY A.PAY_NO DESC
  	</select>
  	
  	<select id="selectPayUpdate" parameterType="_int" resultMap="payListResultMap">
  		SELECT /* com.admin.firstEdu.pay.controller.selectPayUpdate*/
		       A.PAY_NO
		     , B.BEGIN_DATE
		     , C.STUDENT_NAME
		     , D.CLASS_NAME
		     , A.PAY_YN
		     , A.PAY_OPTION
		     , A.PAY_DATE
		     , D.CLASS_PAYMENT
		     , E.DISCOUNT_REASON
		     , A.PAYMENT
		  FROM TBL_PAY A
		  JOIN TBL_CLASS_INFO B ON (A.CLASS_NO = B.CLASS_NO)
		  JOIN TBL_STUDENT C ON (B.STUDENT_NO = C.STUDENT_NO)
		  JOIN TBL_CLASS D ON (B.SUBJECT_CODE = D.CLASS_CODE)
		  JOIN TBL_DISCOUNT E ON (A.DISCOUNT_NO = E.DISCOUNT_NO)
		 WHERE A.PAY_STATUS = 'Y'
		   AND A.PAY_NO = #{no}
		 ORDER BY A.PAY_NO DESC
  	</select>
  	
  	<select id="selectStudentList" resultMap="studentResultMap2">
  		SELECT /* com.admin.firstEdu.pay.controller.selectStudentList*/
  			   A.STUDENT_NO
  			 , A.STUDENT_NAME
  			 , D.GRADE_NAME
  			 , A.STUDENT_PHONE
  			 , B.CLASS_NO
  			 , C.CLASS_NAME
  			 , C.CLASS_PAYMENT
  		  FROM TBL_STUDENT A
  		  JOIN TBL_CLASS_INFO B ON (A.STUDENT_NO = B.STUDENT_NO)
  		  JOIN TBL_CLASS C ON (B.SUBJECT_CODE = C.CLASS_CODE)
  		  JOIN TBL_GRADE D ON (A.GRADE_CODE = D.GRADE_CODE)
  		 WHERE A.STATUS = 'Y'
  	</select>
  	
  	<!-- <select id="selectClassInfo" resultMap=""></select> -->
  	
  	<insert id="insertPay" parameterType="PayDTO">
  		INSERT /* com.admin.firstEdu.pay.controller.insertPay*/
  		  INTO TBL_PAY A
  		(
  		  A.PAY_NO
  		, A.CLASS_NO
  		, A.STUDENT_NO
  		, A.PAY_YN
  		, A.PAY_OPTION
  		, A.PAY_MONTH
  		, A.DISCOUNT_NO
  		, A.PAYMENT
  		, A.PAY_DATE 
  		, A.PAY_STATUS
  		)
  		VALUES
  		(
  		  SEQ_PAY_NO.NEXTVAL
  		, #{classNo}
  		, #{studentNo}
  		, #{payYn}
  		, #{payOption}
  		, 1
  		, #{discountNo}
  		, #{payment}
		, TO_CHAR(#{payDate},'YYYY/MM/DD')
  		, 'Y'
  		)
  	</insert>
  	
  	<update id="updatePay" parameterType="PayDTO">
  		UPDATE /* com.admin.firstEdu.pay.controller.updatePay*/
  			   TBL_PAY A
  		   SET A.PAY_YN = #{payYn}
  		     , A.DISCOUNT_NO = #{discountNo}
  		     , A.PAYMENT = #{payment}
  		     , A.PAY_OPTION = #{payOption}
  		     , A.PAY_DATE = TO_CHAR(#{payDate},'YYYY/MM/DD')
  		 WHERE A.PAY_NO = #{payNo}
  	</update>
  	
  	<update id="deletePay" parameterType="_int">
  		UPDATE TBL_PAY A /* com.admin.firstEdu.pay.controller.deletePay*/
  		   SET A.PAY_STATUS = 'N'
  		 WHERE A.PAY_NO = #{no}
  	</update>
  	
  	<select id="selectClass" parameterType="_int" resultMap="studentAndClassResultMap">
  		SELECT /* com.admin.firstEdu.pay.controller.selectClass*/
		       A.CLASS_NAME
		     , A.CLASS_PAYMENT
		  FROM TBL_CLASS A
		  JOIN TBL_CLASS_INFO B ON(A.CLASS_CODE = B.SUBJECT_CODE)
		  JOIN TBL_STUDENT C ON (B.STUDENT_NO = C.STUDENT_NO)
		 WHERE C.STUDENT_NO = #{stuNo}
  	</select>
  	
  	
  </mapper>