<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
  	<typeAliases>
 		<!-- <typeAlias alias="MemberDTO" type="com.admin.firstedu.member.model.dto.MemberDTO"/>
 		<typeAlias alias="TeacherAndJobDTO" type="com.admin.firstedu.member.model.dto.TeacherAndJobDTO"/>
 		<typeAlias alias="ClassAndInfoDTO" type="com.admin.firstedu.classInfo.model.dto.ClassAndInfoDTO"/>
 		<typeAlias alias="ClassDTO" type="com.admin.firstedu.classInfo.model.dto.ClassDTO"/>
 		<typeAlias alias="SearchCriteriaDTO" type="com.admin.firstedu.classInfo.model.dto.SearchCriteriaDTO"/> -->
 	</typeAliases>
</configuration>

