<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
 <typeAliases>
	 <typeAlias type="com.admin.firstedu.consult.model.dto.StudentDTO" alias="StudentDTO"/>
	 <typeAlias type="com.admin.firstedu.consult.model.dto.ConsultListDTO" alias="ConsultListDTO"/>
	 <typeAlias type="com.admin.firstedu.consult.model.dto.ConsultDTO" alias="ConsultDTO"/>
	 <typeAlias type="com.admin.firstedu.consult.model.dto.TeacherDTO" alias="TeacherDTO"/>
	 <typeAlias type="com.admin.firstedu.consult.model.dto.ConsultCategoryDTO" alias="ConsultCategoryDTO"/>
	 <typeAlias type="com.admin.firstedu.consult.model.dto.GradeDTO" alias="GradeDTO"/>
	 <typeAlias type="com.admin.firstedu.consult.model.dto.ConsultInfoDTO" alias="ConsultInfoDTO"/>
	 <typeAlias type="com.admin.firstedu.consult.model.dto.SearchCriteria" alias="SearchCriteria"/>
	  <typeAlias type="com.admin.firstedu.consult.model.dto.ClassInfoDTO" alias="ClassInfoDTO"/>
	  <typeAlias type="com.admin.firstedu.consult.model.dto.ClassDTO" alias="ClassDTO"/>
	  <typeAlias type="com.admin.firstedu.consult.model.dto.StudentAndClassInfoDTO" alias="StudentAndClassInfoDTO"/>
 </typeAliases>
</configuration>