<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.firstedu.attendance.model.dao.AttendanceMapper">
	
	<resultMap type="AttendanceDTO" id="attendanceResultSet">
		<id column="ATTENDANCE_NO" property="no"/>
		<result column="ATTENDANCE_TIME" property="attendanceTime"/>
		<result column="CHECKOUT_TIME" property="checkOutTime"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="STUDENT_NO" property="studentNo"/>
		<result column="TEACHER_NO" property="teacherNo"/>
		<result column="MEMO" property="memo"/>
		<result column="MONTH_TIME" property="monthTime"/>
	</resultMap>
	
	<resultMap type="AttendanceCategoryDTO" id="attendanceCategoryResultSet">
		<id column="CATEGORY_NO" property="categoryNo"/>
		<result column="ATTENDANCE_CON" property="attendanceCon"/>
	</resultMap>
	<resultMap type="StudentDTO" id="studentResultSet">
		<id column="STUDENT_NO" property="studentNo"/>

	</resultMap>
	<resultMap type="TeacherDTO" id="teacherResultSet">
		<id column="TEACHER_NO" property="teacherNo"/>
	</resultMap>
	
	<resultMap type="AttendanceInfoDTO" id="attendanceInfoResultSet">
		<id column="ATTENDANCE_NO" property="no"/>
		<result column="ATTENDANCE_TIME" property="attendanceTime"/>
		<result column="CHECKOUT_TIME" property="checkOutTime"/>
		<result column="MEMO" property="memo"/>
		<result column="MONTH_TIME" property="monthTime"/>
	<association resultMap="attendanceCategoryDTO" property="category"/>
	<association resultMap="studentDTO" property="student"/>
	<association resultMap="teacherDTO" property="teacher"/>
	</resultMap>	
	
	<insert id="insertStudent" parameterType="AttendanceDTO">
		INSERT
		  INTO TBL_ATTENDANCE A
		(
		  A.ATTENDANCE_NO
		, A.CATEGORY_NO, A.STUDENT_NO, A.CHECKOUT_TIME
		, A.MEMO
		 )
		 VALUES
		 (
		 	SEQ_ATTENDANCE_NO.NEXTVAL, #{ attendanceTime }, #{ categoryNo }
		 ,  #{ studentNo }, #{ checkOutTime }, #{ memo }
		 	)
	</insert>
	
	<insert id="insertTeacher" parameterType="AttendanceDTO">
		INSERT
		  INTO TBL_ATTENDANCE A
		(
		  A.ATTENDANCE_NO
		, A.TEACHER_NO
		, A.CHECKOUT_TIME, A.ATTENDANCE_TIME
		)
		VALUES
		(
			SEQ_ATTENDANCE_NO.NEXTVAL, #{ teacherNo }, #{ checkOutTime } , #{ attendanceTime }
		)
	
	</insert>
	
	
	
	<select id="selectStudnetAttendance" parameterType="AttendanceDTO" resultMap="attendanceInfoResultSet">
		SELECT
		       A.ATTENDANCE_NO
		     , B.CATEGORY_NO
		     , B.ATTENDANCE_CON
		     , C.STUDENT_NO
		 FROM TBL_ATTENDANCE A
		 JOIN TBL_ATTENDANCE_CATEGORY B ON (A.CATEGORY_NO = B.CATEGORY_NO) 
		 JOIN TBL_STUDENT C ON (A.STUDENT_NO = C.STUDENT_NO)
	</select>
	
	<select id="selectTeacherAttendance" parameterType="AttendanceDTO" resultMap="attendanceInfoResultSet">
		SELECT
			  A.ATTENDANCE_NO
			, A.CHECKOUT_TIME
			, A.ATTENDANCE_TIME
			, D.TEACHER_NO 
		 FROM TBL_ATTENDANCE A
		 JOIN TBL_TEACHER D ON (A.TEACHER_NO = D.TEACHER_NO)
	</select>

	
	<update id="updateStudentAttendance" parameterType="AttendanceDTO" >
		UPDATE
			   TBL_ATTENDANCE A
		<set>
			<if test="categoryNo != null and categoryNo gt 0">
		        A.CATEGORY_NO = #{ categoryNo }  
			</if>
			<if test="memo != null and memo !=''"/>
			  , A.MEMO = #{ memo }
			<if test="checkOutTime != null">
			  ,	A.CHECKOUT_TIME = #{ checkOutTime }
			</if>
			<if test="">
			  , A.STUDENT_NO = #{ studentNo }
			</if>
		</set>
		 WHERE A.ATTENDANCE_NO = #{ attendaceNo } 
	</update>
</mapper>