<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.firstedu.attendance.model.dao.AttendanceMapper">
	
	<resultMap type="AttendanceDTO" id="attendanceResultSet">
		<id column="ATTENDANCE_NO" property="no"/>
		<result column="ATTENDANCE_TIME" property="attendanceTime"/>
		<result column="CHECKOUT_TIME" property="checkOutTime"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="STUDENT_NO" property="studentNo"/>
		<result column="TEACHER_NO" property="teacherNo"/>
		<result column="MEMO" property="memo"/>
		<result column="MONTH_TIME" property="monthTime"/>
	</resultMap>
	
	<resultMap type="AttendanceCategoryDTO" id="attendanceCategoryResultSet">
		<id column="CATEGORY_NO" property="categoryNo"/>
		<result column="ATTENDANCE_CON" property="attendanceCon"/>
	</resultMap>
	<resultMap type="StudentDTO" id="studentResultSet">
		<id column="STUDENT_NO" property="studentNo"/>
		<result column="STUDENT_NO" property="no"/>
		<result column="GRADE" property="grade"/>
		<result column="STUDENT_NAME" property="studentName"/>
		<result column="PARENTS_NAME" property="parentsName"/>
		<result column="STUDENT_PHONE" property="studentPhone"/>
		<result column="PARENTS_PHONE" property="parentsPhone"/>
		<result column="GENDER" property="gender"/>
		<result column="SCHOOL" property="school"/>
		<result column="REGISTRATION_DATE" property="registrationDate"/>
		<result column="STATUS" property="status"/>

	</resultMap>
	<resultMap type="TeacherDTO" id="teacherResultSet">
		<id column="TEACHER_NO" property="teacherNo"/>
		<result column="TEACHER_NO" property="no"/>
		<result column="TEACHER_ID" property="id"/>
		<result column="TEACHER_PWD" property="pwd"/>
		<result column="TEACHER_NAME" property="name"/>
		<result column="TEACHER_EMAIL" property="email"/>
		<result column="TEACHER_GENDER" property="gender"/>
		<result column="TEACHER_PHONE" property="phone"/>
		<result column="TEACHER_ADDRESS" property="address"/>
		<result column="TEACHER_ROLE" property="role"/>
		<result column="HIRE_DATE" property="hireDate"/>
		<result column="ENT_DATE" property="endDate"/>
		<result column="TEACHER_STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="ClassDTO" id="classResultSet">
		<id column="CLASS_CODE" property="classCode"/>
		<result column="CLASS_NAME" property="className"/>
	</resultMap>
	
	<resultMap type="ClassInfoDTO" id="classInfoResultSet">
		<id column="CLASS_NO" property="no"/>
		<result column="SUBJECT_CODE" property="subjectCode"/>
	</resultMap>
	
	
	<resultMap type="AttendanceInfoDTO" id="attendanceInfoResultSet">
		<id column="ATTENDANCE_NO" property="no"/>
		<result column="ATTENDANCE_TIME" property="attendanceTime"/>
		<result column="CHECKOUT_TIME" property="checkOutTime"/>
		<result column="MEMO" property="memo"/>
		<result column="MONTH_TIME" property="monthTime"/>
	<association resultMap="AttendanceCategoryDTO" property="category"/>
	<association resultMap="StudentDTO" property="student"/>
	<association resultMap="TeacherDTO" property="teacher"/>
	<association resultMap="ClassDTO" property="classDTO"/>
	<association resultMap="ClassInfoDTO" property="classInfo"/>
	</resultMap>	
	
	<insert id="insertStudent" parameterType="AttendanceDTO">
		INSERT
		  INTO TBL_ATTENDANCE A
		(
		  A.ATTENDANCE_NO
		, A.CATEGORY_NO, A.STUDENT_NO, A.ATTENDANCE_TIME
		, A.MEMO
		 )
		 VALUES
		 (
		 	SEQ_ATTENDANCE_NO.NEXTVAL, #{ categoryNo }
		 ,  #{ studentNo }, #{ attendanceTime }, #{ memo }
		 	)
	</insert>
	
	<insert id="insertTeacher" parameterType="AttendanceDTO">
		INSERT
		  INTO TBL_ATTENDANCE A
		(
		  A.ATTENDANCE_NO
		, A.TEACHER_NO
		, A.CHECKOUT_TIME, A.ATTENDANCE_TIME
		)
		VALUES
		(
			SEQ_ATTENDANCE_NO.NEXTVAL, #{ teacherNo }, #{ checkOutTime } , #{ attendanceTime }
		)
	
	</insert>
	
	
	
	<select id="selectStudnetAttendance" parameterType="AttendanceInfoDTO" resultMap="attendanceInfoResultSet">
		SELECT
		       A.ATTENDANCE_NO
		     , B.CATEGORY_NO
		     , C.STUDENT_NO
		   	 , D.CLASS_CODE
		   	 , E.CLASS_NO
		 FROM TBL_ATTENDANCE A
		 JOIN TBL_ATTENDANCE_CATEGORY B ON (A.CATEGORY_NO = B.CATEGORY_NO) 
		 JOIN TBL_STUDENT C ON (A.STUDENT_NO = C.STUDENT_NO)
		 JOIN TBL_CLASS D ON (A.CLASS_CODE = D.CLASS_CODE)
		 JOIN TBL_CLASS_INFO E ON (A.CLASS_NO = E.CLASS_NO)

	</select>
	
	<select id="selectTeacherAttendance" parameterType="AttendanceInfoDTO" resultMap="attendanceInfoResultSet">
		SELECT
			  A.ATTENDANCE_NO
			, A.CHECKOUT_TIME
			, A.ATTENDANCE_TIME
			, B.TEACHER_NO
			, A.MONTH_TIME
			, D.CLASS_CODE
		   	, E.CLASS_NO
		 FROM TBL_ATTENDANCE A
		 JOIN TBL_TEACHER B ON (A.TEACHER_NO = B.TEACHER_NO)
		 JOIN TBL_CLASS D ON (A.CLASS_CODE = D.CLASS_CODE)
		 JOIN TBL_CLASS_INFO E ON (A.CLASS_NO = E.CLASS_NO)
	</select>

	
	<update id="updateStudentAttendance" parameterType="AttendanceDTO" >
		UPDATE
			   TBL_ATTENDANCE A
		<set>
			<if test="categoryNo != null and categoryNo gt 0">
		        A.CATEGORY_NO = #{ categoryNo }  
			</if>
			<if test="memo != null and memo !=''"/>
			  , A.MEMO = #{ memo }
			<if test="checkOutTime != null">
			  ,	A.CHECKOUT_TIME = #{ checkOutTime }
			</if>
		</set>
	</update>
</mapper>