<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.admin.firstedu.attendance.model.dao.AttendanceMapper">
	
	<resultMap type="AttendanceDTO" id="attendanceResultSet">
		<id column="ATTENDANCE_NO" property="no"/>
		<result column="ATTENDANCE_TIME" property="attendanceTime"/>
		<result column="CHECKOUT_TIME" property="checkOutTime"/>
		<result column="CATEGORY_NO" property="categoryNo"/>
		<result column="STUDENT_NO" property="studentNo"/>
		<result column="TEACHER_NO" property="teacherNo"/>
		<result column="MEMO" property="memo"/>
		<result column="MONTH_TIME" property="monthTime"/>
		<result column="CLASS_CODE" property="classCode"/>
		<result column="CLASS_NO" property="classNo"/>
	</resultMap>
	
	<resultMap type="AttendanceCategoryDTO" id="attendanceCategoryResultSet">
		<id column="CATEGORY_NO" property="categoryNo"/>
		<result column="ATTENDANCE_CON" property="attendanceCon"/>
	</resultMap>
	
	<resultMap type="StudentDTO" id="studentResultSet">
		<id column="STUDENT_NO" property="no"/>
		<result column="GRADE" property="grade"/>
		<result column="STUDENT_NAME" property="studentName"/>
		<result column="PARENTS_NAME" property="parentsName"/>
		<result column="STUDENT_PHONE" property="studentPhone"/>
		<result column="PARENTS_PHONE" property="parentsPhone"/>
		<result column="GENDER" property="gender"/>
		<result column="SCHOOL" property="school"/>
		<result column="REGISTRATION_DATE" property="registrationDate"/>
		<result column="STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="TeacherDTO" id="teacherResultSet">
		<id column="TEACHER_NO" property="teacherNo"/>
		<result column="TEACHER_ID" property="id"/>
		<result column="TEACHER_PWD" property="pwd"/>
		<result column="TEACHER_NAME" property="name"/>
		<result column="TEACHER_EMAIL" property="email"/>
		<result column="TEACHER_GENDER" property="gender"/>
		<result column="TEACHER_PHONE" property="phone"/>
		<result column="TEACHER_ADDRESS" property="address"/>
		<result column="TEACHER_ROLE" property="role"/>
		<result column="HIRE_DATE" property="hireDate"/>
		<result column="ENT_DATE" property="endDate"/>
		<result column="TEACHER_STATUS" property="status"/>
	</resultMap>
	
	<resultMap type="ClassDTO" id="classResultSet">
		<id column="CLASS_CODE" property="classCode"/>
		<result column="CLASS_NAME" property="className"/>
	</resultMap>
	
	<resultMap type="ClassInfoDTO" id="classInfoResultSet">
		<id column="CLASS_NO" property="no"/>
		<result column="BEGIN_DATE" property="beginDate"/>
		<result column="END_DATE" property="endDate"/>
		<result column="CLASS_CODE" property="subjectCode"/>	
		<result column="STUDENT_NO" property="studentNo"/>
	</resultMap>
	
	
	<resultMap type="AttendanceInfoDTO" id="attendanceInfoResultSet">
		<id column="ATTENDANCE_NO" property="no"/>
		<result column="ATTENDANCE_TIME" property="attendanceTime"/>
		<result column="CHECKOUT_TIME" property="checkOutTime"/>
		<result column="MEMO" property="memo"/>
		<result column="MONTH_TIME" property="monthTime"/>
		<result column="chulsuck" property="chulsuck"/>
		<result column="jigack" property="jigack"/>
		<result column="kyulsuck" property="kyulsuck"/>
		<result column="jotae" property="jotae"/>
	<association resultMap="attendanceCategoryResultSet" property="category"/>
	<association resultMap="studentResultSet" property="studentDTO"/>
	<association resultMap="teacherResultSet" property="teacher"/>
	<association resultMap="classResultSet" property="classDTO"/>
	<association resultMap="classInfoResultSet" property="classInfo"/>
	</resultMap>
	
	<resultMap type="ClassInfoStudentDTO" id="classInfoStudentResultSet">
		<id column="CLASS_NO" property="no"/>
		<result column="BEGIN_DATE" property="beginDate"/>
		<result column="END_DATE" property="endDate"/>
		<association resultMap="studentResultSet" property="studentDTO"/>
		<association resultMap="classInfoResultSet" property="classInfo"/>
	</resultMap>
		
	
	<select id="selectStudentAttendance" parameterType="AttendanceInfoDTO" resultMap="attendanceInfoResultSet">
   SELECT 
          A.ATTENDANCE_NO
        , B.CLASS_NAME
        , C.STUDENT_NAME
        , SUM(CASE WHEN D.CATEGORY_NO = 1 THEN 1 ELSE 0 END) AS chulsuck
        , SUM(CASE WHEN D.CATEGORY_NO = 2 THEN 1 ELSE 0 END) AS jigack
        , SUM(CASE WHEN D.CATEGORY_NO = 3 THEN 1 ELSE 0 END) AS kyulsuck
        , SUM(CASE WHEN D.CATEGORY_NO = 4 THEN 1 ELSE 0 END) AS jotae
          FROM TBL_ATTENDANCE A
          INNER JOIN TBL_STUDENT C ON (A.STUDENT_NO = C.STUDENT_NO)
          INNER JOIN TBL_CLASS B ON (A.CLASS_CODE = B.CLASS_CODE)
          INNER JOIN TBL_ATTENDANCE_CATEGORY D ON (A.CATEGORY_NO = D.CATEGORY_NO)
          GROUP BY A.ATTENDANCE_NO, B.CLASS_NAME , C.STUDENT_NAME , D.CATEGORY_NO
          ORDER BY A.ATTENDANCE_NO

	</select>
	
<!--  <select id="selectTeacherAttendance" parameterType="AttendanceInfoDTO" resultMap="attendanceInfoResultSet">
	SELECT 
	
          A.ATTENDANCE_TIME
        , A.CHECKOUT_TIME
        , SUM(CASE WHEN D.CATEGORY_NO = 1 THEN 1 ELSE 0 END) AS chulsuck
        , SUM(CASE WHEN D.CATEGORY_NO = 2 THEN 1 ELSE 0 END) AS jigack
        , SUM(CASE WHEN D.CATEGORY_NO = 3 THEN 1 ELSE 0 END) AS kyulsuck
        , SUM(CASE WHEN D.CATEGORY_NO = 4 THEN 1 ELSE 0 END) AS jotae      
          FROM TBL_ATTENDANCE A
          INNER JOIN TBL_TEACHER B ON (A.TEACHER_NO = B.TEACHER_NO)
          INNER JOIN TBL_ATTENDANCE_CATEGORY D ON (A.CATEGORY_NO = D.CATEGORY_NO)
          GROUP BY A.ATTENDANCE_TIME, A.CHECKOUT_TIME, D.CATEGORY_NO
	</select> -->
	
	<insert id="insertTeacher" parameterType="AttendanceDTO">
		INSERT
		  INTO TBL_ATTENDANCE A
		(
	
		  A.ATTENDANCE_TIME
		  , A.ATTENDANCE_NO
		)
		VALUES
		(
			SYSTIMESTAMP
		 , 	SEQ_ATTENDANCE_NO.NEXTVAL
		)
	
	</insert>
	<insert id="doneTeacher" parameterType="AttendanceDTO">
		INSERT
		  INTO TBL_ATTENDANCE A
		  (	
		  
		  A.CHECKOUT_TIME
		  , A.ATTENDANCE_NO
		)
		VALUES
		(
		   	SYSTIMESTAMP
		 , 	SEQ_ATTENDANCE_NO.NEXTVAL
		)
	
	</insert>
	
	
	<insert id="insertStudent" parameterType="AttendanceDTO">
		INSERT
		  INTO TBL_ATTENDANCE A
		(
		
		 A.CATEGORY_NO,  
		 A.ATTENDANCE_TIME
		, A.MEMO
		, STUDENT_NO
		, A.ATTENDANCE_NO
		 )
		 VALUES
		 (
		   #{ categoryNo } 
		 , SYSDATE , #{ memo }
		 , #{ studentNo }
		 , 	SEQ_ATTENDANCE_NO.NEXTVAL
		 	)
	</insert>
	
	<select id="selectStudent" parameterType="AttendanceInfoDTO" resultMap="attendanceInfoResultSet">
        SELECT
		A.ATTENDANCE_NO
		, A.MEMO
		, B.STUDENT_NAME
        , C.CLASS_NAME
		, D.CATEGORY_NO
        , SUM(CASE WHEN D.CATEGORY_NO = 1 THEN 1 ELSE 0 END) AS chulsuck
        , SUM(CASE WHEN D.CATEGORY_NO = 2 THEN 1 ELSE 0 END) AS jigack
        , SUM(CASE WHEN D.CATEGORY_NO = 3 THEN 1 ELSE 0 END) AS kyulsuck
        , SUM(CASE WHEN D.CATEGORY_NO = 4 THEN 1 ELSE 0 END) AS jotae
        FROM TBL_ATTENDANCE A
        INNER JOIN TBL_ATTENDANCE_CATEGORY D ON (A.CATEGORY_NO = D.CATEGORY_NO)
        INNER JOIN TBL_CLASS C ON (A.CLASS_CODE = C.CLASS_CODE)
		INNER JOIN TBL_STUDENT B ON (A.STUDENT_NO = B.STUDENT_NO)         
        GROUP BY A.ATTENDANCE_NO, A.MEMO, B.STUDENT_NAME , C.CLASS_NAME , D.CATEGORY_NO
    </select>
	
	<select id="selectCategory" parameterType="ClassInfoStudentDTO" resultMap="classInfoStudentResultSet">
	 SELECT
        B.STUDENT_NAME
        FROM TBL_STUDENT B
        JOIN TBL_CLASS_INFO C ON (B.STUDENT_NO = C.STUDENT_NO) 
        WHERE C.CLASS_CODE = #{classCode}
	</select>

	<update id="updateStudent" parameterType="AttendanceDTO" >
		UPDATE
			   TBL_ATTENDANCE A
		<set>
			<if test="categoryNo != null and categoryNo gt 0">
		        A.CATEGORY_NO = #{categoryNo}
			</if>
			<if test="memo != null and memo !=''"/>
			  , A.MEMO = #{ memo }
			<if test="checkOutTime != null">
			  ,	A.CHECKOUT_TIME = #{checkOutTime}
			</if>
			<if test="studentNo != null and studentNo gt 0">
				STUDENT_NO = {studentNo}
			</if>
		</set>
			WHERE = #{no}
	</update>
</mapper>